/* styles.css */
.form-container {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    padding: 1rem;
  }
  input{
    border: 2px solid grey;
    border-radius: 10px;
  }
  .submitButton{
    border: 2px solid rgb(14, 10, 10);
    border-radius:  10px;
    background-color: rgba(95, 95, 95, 0.39);
    text-shadow: 2px grey;
  }