body {
    margin: 2rem;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.delete-btn {
    background-color: rgb(255, 20, 20);
}

.update-form {
    width: 60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}

.update-btn {
    border: 3px solid rgb(255, 0, 0);
    background-color: rgb(255, 196, 0);
    color: black;
    font-weight: bold;
}

#floatingInput {
    border: 2px solid grey;
}

/* Products.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.933); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other elements */
  }
  
  .modal-overlay > * {
    z-index: 1001; /* Ensure the modal content appears above the overlay */
  }
  
h3{
    text-align: center;
}